hr{   
    height: 0.25%;
    width: 37.5%;
    border: 0;
    margin-left: 29%;
    background-color: #4CB5AB;
    margin-top: 15%;
    display: block;
    position: absolute;
    user-select: none;

    animation-duration: 2s;
}

/* Blue buttons styling: */
    #startbtn{
        height: 1.5em;
        width: 1.5em;
        position: absolute;
        top: 72.5%;
        left: 45%;
        transform: translate(-45%, -72.5%);
        display: block;
        opacity: 1;
        animation-duration: 2s;
        z-index: 0;

        user-select: none;
        cursor: pointer;
    }

    #pausebtn{
        height: 1.4em;
        width: 1.5em;
        position: absolute;
        top: 72.5%;
        left: 45%;
        transform: translate(-45%, -72.5%);
        display: none;
        opacity: 1;
        animation-duration: 2s;
        z-index: 0;

        user-select: none;
        cursor: pointer;
    }

    #stopbtn{
        height: 1.15em;
        width: 1.15em;
        position: absolute;
        top: 72%;
        left: 55%;
        transform: translate(-55%, -72%);
        display: block;
        opacity: 1;
        animation-duration: 2s;
        z-index: 0;

        user-select: none;
        cursor: pointer;
    }

    #lightstopbtn{
        height: 1.15em;
        width: 1.15em;
        position: absolute;
        top: 72%;
        left: 55%;
        transform: translate(-55%, -72%);
        display: block;
        opacity: 1;
        animation-duration: 2s;
        z-index: 0;

        user-select: none;
        cursor: pointer;
    }

/* Orange buttons styling: */
    #orangestartbtn{
        height: 1.5em;
        width: 1.5em;
        position: absolute;
        top: 72.5%;
        left: 45%;
        transform: translate(-45%, -72.5%);
        display: none;
        opacity: 0;
        animation-duration: 2s;
        z-index: -1;

        user-select: none;
        cursor: pointer;
    }

    #orangepausebtn{
        height: 1.4em;
        width: 1.5em;
        position: absolute;
        top: 72.5%;
        left: 45%;
        transform: translate(-45%, -72.5%);
        display: none;
        opacity: 0;
        animation-duration: 2s;
        z-index: -1;

        user-select: none;
        cursor: pointer;
    }

    #orangestopbtn{
        height: 1.15em;
        width: 1.15em;
        position: absolute;
        top: 72%;
        left: 55%;
        transform: translate(-55%, -72%);
        display: none;
        opacity: 0;
        animation-duration: 2s;
        z-index: -1;

        user-select: none;
        cursor: pointer;
    }

    #orangelightstopbtn{
        height: 1.15em;
        width: 1.15em;
        position: absolute;
        top: 72%;
        left: 55%;
        transform: translate(-55%, -72%);
        display: none;
        opacity: 0;
        animation-duration: 2s;
        z-index: -1;

        user-select: none;
        cursor: pointer;
    }



#time{
    text-align: center;
    color: #009688;
    font-size: 2.5em;
    font-family: "Segoe UI", sans-serif;
    position: absolute;
    display: block;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    user-select: none;

    animation-duration: 2s;
    cursor: default;
}

#greyCircle{
    width: 11em;
    height: 11em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    opacity: 1;
    user-select: none;
}

.insertGoal{
    display: block;
    height: 30%;
    text-align: center;
}

#goalInput{
    color: #7F7B7B;
    font-style: italic;
    text-align: center;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    position: absolute;
    display: block;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

input[type=text]{
    border: none;
    outline: none;
}

input[type=text]:focus {
    outline: none;
    border: none;
}

#userGoal{
    color: #7F7B7B;
    font-style: italic;
    text-align: center;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    position: absolute;
    display: none;
    top: 15.65%;
    left: 50%;
    transform: translate(-50%, -16%);
    user-select: none;
}

::placeholder{
    color: #D5D5D5;
}

/* For the Line under text */
    @keyframes changeToOrange { /* You can animate mutliple elements at once */
        0%   {background-color: #4CB5AB; width: 37.5%; margin-left: 29%;}
        50% {width: 0%; margin-left: 48%;}
        100% {background-color: #FF7700; width: 37.5%; margin-left: 29%;}
    }

    @keyframes changeToBlue { /* You can animate mutliple elements at once */
        0%   {background-color: #FF7700; width: 37.5%; margin-left: 29%;}
        50% {width: 0%; margin-left: 48%;}
        100% {background-color: #4CB5AB; width: 37.5%; margin-left: 29%;}
    }

/* For the text time */

    @keyframes changeTextToOrange {
        0%   {color: #009688;}
        100% {color: rgb(224, 122, 54);}
    }

    @keyframes changeTextToBlue {
        0%   {color: rgb(224, 122, 54);}
        100% {color: #009688;}
    }

/* For the images */

    @keyframes opacityToZero {
        0%   {opacity: 1;}
        100% {opacity: 0;}
    }

    @keyframes opacityToFull {
        0%   {opacity: 0;}
        100% {opacity: 1;}
    }