body {
    user-select: none; /*User cannot select UI text*/
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #7D7D7D; /* Google Light Greyish*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .ButtonStyle {
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    white-space: nowrap; /* Prevents text wrap */
    padding-top: 45px;
    font-family: "Segoe UI";
}

/* The navigation menu links */
.sidenav .StudyTips {
    padding: 25px 8px 25px 130px;
    background-color: #6C6C6C;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
}
.sidenav .StudyTips:hover {
    background-color: #5F5F5F;
    color: #DBDBDB
}

.sidenav .Settings {
    padding: 23px 8px 27px 130px;
    background-color: #686868;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
}
.sidenav .Settings:hover {
    background-color: #5C5C5C;
    color: #DBDBDB
}

.sidenav .Help {
    padding: 22px 8px 28px 130px;
    background-color: #6C6C6C;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
}
.sidenav .Help:hover {
    background-color: #5F5F5F;
    color: #DBDBDB
}

/* Position and style the close button (top left corner) */
.sidenav .closebtn {
    position: absolute;
    top: 13px;
    left: 16px;
    height: 21px;
    width: 21px;
}

.StudyTipsNavImg {
    height:50px;
    width:50px;
    position:absolute;
    top: 78px;
    left: 30px;
}

.SettingsNavImg {
    height:50px;
    width:50px;
    position:absolute;
    top: 160px;
    left: 30px;
}

.HelpNavImg {
    height:50px;
    width:50px;
    position:absolute;
    top: 243px;
    left: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}